<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="film-images">
      <img ng-src="{{product.image}}" class="preview-img2 text-center">
    </div>
    <ul class="film-thumbs list-unstyled">
      <li ng-repeat="img in film.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1>{{product.title}}</h1>
    <p>{{product.text}}</p>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-3" ng-repeat="films in byGenre | limitTo: 4">
    <a class="btn btn-default" href="#/films/{{films.id}}" role="button">
      <h5>{{films.nameRU}}</h5>
      <img ng-src="http://www.kinopoisk.ru/images/film_big/{{films.id}}.jpg" class="preview-img2 text-center"></a>
  </div>
</div>